@import '../../styles/main';

.hero {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;


    @include tablet {
        flex-direction: row;
    }

    &__left {
        flex: 1;
        display: flex;
        flex-direction: column;
        text-align: center;

        @include tablet {
            margin-right: 1rem;
            text-align: start;
        }
    }

    &__right {
        display: flex;
        flex: 1;
        justify-content: center;
    }

    &__img {
        width: 100%;
        margin: auto 0;

        @include laptop {
            position: relative;
            width: 120%;
            left: 20%;
        }
    }

    &__header {
        font-size: 2.5rem;

        @include tablet {
            font-size: 3rem;
        }

        @include laptop {
            font-size: 3.5rem;
        }
    }

    &__sub-header {
        color: $gray-violet;
        font-weight: $semi-bold;
        margin-top: 0;
    }

    &__btn {
        margin: 0 auto;
        height: 47px;

        @include tablet {
            max-width: 165px;
            margin: 0;
            padding: 15px 30px;
        }
    }
}