@import "../../styles/main";

.url-nav {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 100%;
    justify-content: space-between;
    position: relative;

    &__left {
        display: flex;
        flex-direction: row;
        flex: 1;
        justify-content: space-between;
        align-items: center;
        max-width: 650px;
    }

    &__right {
        display: flex;
        flex-direction: row;
        flex: 1;
        justify-content: flex-end;
        align-items: center;
    }

    &__title {
        margin-right: 1rem;
    }

    &__link {
        color: $gray-violet;
        cursor: pointer;
        display: none;
        margin: 0 1rem;

        @include laptop {
            display: block;
        }

        &:hover {
            color: $very-dark-violet;
        }
    }

    &__btn {
        display: none;
        background-color: white;
        border: none;
        color: $gray-violet;
        font-weight: 500;
        margin: 0 1rem;
        cursor: pointer;

        @include laptop {
            display: block;
        }

        &:first-of-type {
            margin-right: 0;
        }

        &:hover {
            color: $very-dark-violet;
        }

        &--primary {
            background-color: $cyan;
            border-radius: 18px;
            color: $white;
            padding: 8px 14px;

            &:hover {
                background-color: transparentize($cyan, 0.7);
                color: $white;
            }
        }
    }

    &__toggle {
        height: 30px;
        width: 30px;
        cursor: pointer;

        @include laptop {
            display: none;
        }
    }
}

.mobile-nav {
    position: absolute;
    background-color: $dark-violet;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: calc(100% - 2rem);
    text-align: center;
    top: 100%;
    padding: 1rem;

    &__link {
        color: $white;
        font-weight: $bold;
        padding: 1rem;

        &--primary {
            background-color: $cyan;
            border-radius: 25px;

            @include tablet {
                margin: 0 auto;
                width: 250px;
            }
        }
    }

    &__divider {
        width: 90%;
        border: none;
        border-bottom: 1px solid $gray-violet;
    }
}