@import '../../styles/main';

.social-links {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    justify-content: center;

    @include laptop {
        justify-content: flex-start;
    }

    &__item {
        height: 25px;
        margin: 0.75rem;
        cursor: pointer;
    }
}