@import '../../styles/main';

.url-input {
    $border-radius: 7px;

    margin-top: 2rem;
    padding: 1.5rem;
    background-image: url('../assets/bg-shorten-mobile.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: $dark-violet;
    border-radius: 5px;
    display: flex;
    flex-direction: column;

    @include tablet {
        flex-direction: row;
        padding: 2.5rem;
    }

    @include laptop {
        background-image: url('../assets/bg-shorten-desktop.svg');
    }

    &__form {
        display: flex;
        flex-direction: row;
        flex: 1;
    }

    &__submit-btn {
        margin-bottom: 0;
        border-radius: $border-radius;
    }

    &__field {
        position: relative;
        margin-bottom: 1rem;
        flex: 1;
        height: 47px;

        @include tablet {
            margin-bottom: 0;
            margin-right: 1rem;
        }

        &--error {
            margin-bottom: 2rem;

            @include tablet {
                margin-bottom: 0;
            }
        }
    }

    &__input {
        margin-bottom: 0;
        height: 100%;
        width: 100%;
        border-radius: $border-radius;

        &:focus {
            outline: none;
        }

        &::placeholder {
            font-weight: $semi-bold;
            color: $gray-violet;
        }

        &--error {
            border: 2px solid $red;

            &::placeholder {
                color: transparentize($red, 0.5);
            }
        }
    }

    &__error {
        position: absolute;
        top: 100%;
        font-size: 12px;
        color: $red;
        font-weight: $semi-bold;
        margin-top: 0.5rem;
    }
}