@import "./styles/main";

.shorty-app {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;

    @include mobile {
        max-width: 85%;
    }

    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        &:after {
            content: "";
            position: absolute;
            background-color: transparentize($gray, 0.75);
            top: 120px;
            bottom: -10%;
            left: -50%;
            right: -50%;
            z-index: -1;
        }
    }
}